// @import "../../../SCSS/reset.scss";
@import "../../../SCSS/variables.scss";
@import "../../../SCSS/mixins.scss";

.application-container_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.7rem;
  height: 10rem;
  background-color: $color-bright-accent;
  padding: 3rem 5rem;
  color: black;
  .application_top_header {
    font-size: 1.5rem;
  }
}

.application-container_bottom {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: rgba(255, 245, 160, 0.1);
  color: #fff;
  padding: 3rem 6rem;
  &:before {
    content: "";
    background: url(../../../assets/BackgroundForm.jpg) no-repeat center
      center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
.application-steps {
  text-align: start;
  color: black;
  font-weight: 300;
}
.application-point_invisible_container {
  border: 1px solid transparent;
  height: 30rem;
  .application-text_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 35rem;
    height: 30rem;
    color: black;
    .application-text_header {
      font-size: 1.3rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  }
}
.application-point_container {
  display: flex;
  width: 40rem;
  margin-top: 1.5rem;
  font-weight: 300;

  .application-point_text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 1rem;
    width: 25rem;
    font-weight: 350;

    .application-point_button {
      border: 1px solid black;
      height: 1.5rem;
      width: 1.5rem;
      &:hover {
        background-color: $color-bright-accent;
      }
    }
  }

  //Step 2
  .application-point_text_left {
    margin-right: 1rem;
  }
  .application-number_bags {
    padding: 0.1rem;
    width: 3rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid $color-dark-accent-first;
    &:focus {
      outline: none;
      border-bottom: 1px solid $color-bright-accent;
    }
  }
}
//Step 3
.application-location_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  .application-location_header {
    font-weight: 300;
    color: $color-dark-accent-first;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .application-location_select {
    width: 10rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    .application-location_option {
      padding: 0.6rem 1.5rem;
    }
  }
  .application-location_subheader {
    font-weight: 300;
    color: $color-dark-accent-first;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .application-help_container {
    flex-wrap: wrap;
    width: 25rem;
    .application-help_button {
      // background-color: transparent;
      font-weight: 300;
      padding: 0.5rem 1rem;
      margin: 0.3rem;
      border: 1px solid;
      cursor: pointer;
      &:hover {
        border: 1px solid $color-bright-accent;
        background-color: $color-bright-accent;
      }
      &:focus {
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out;
        border: 1px solid $color-bright-accent;
        background-color: $color-bright-accent;
      }
    }
  }
  .application-organization_input {
    background-color: transparent;
    padding: 0.4rem 1rem;
    border: 1px solid;
    width: 28rem;
  }
}
//Step 4
.application-delivery_header {
  color: $color-dark-accent-first;
  font-weight: 300;
  margin-top: 1.5rem;
}
.application-delivery_both_containers {
  display: flex;

  .application-delivery_left_container,
  .application-delivery_right_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    font-weight: 350;
    color: black;
    height: 20rem;
    justify-content: space-evenly;
    color: $color-dark-accent-first;
    padding: 1rem 0rem;
    .application-delivery_subheader {
      font-weight: 350;
      text-align: left;
    }
    .application-delivery_small_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 15rem;

      .application-delivery_label {
        margin-right: 1rem;
      }
      .application-delivery_input {
        color: $color-dark-accent-first;
        width: 10rem;
        padding: 0.2rem 0.5rem;
        background: transparent;
        border: 1px solid;
        &:focus {
          outline: none;
          background-color: $color-bright-main;
        }
      }
    }
    .application-delivery_textarea {
      background-color: transparent;
      width: 18rem;
      height: 5rem;
      &:focus {
        outline: none;
        background-color: $color-bright-main;
      }
    }
  }
}
//Summary
.application-summary_container {
  .application-summary_header {
    color: $color-dark-accent-first;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
}
.application-summary_iconSpan_container {
  .application-summary_iconSpan_whatsgiven_container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .application-summary_icon {
      height: 3rem;
      margin-right: 1rem;
    }
    .application-summary_span {
      color: black;
      font-weight: 300;
    }
  }
}
.application-summary_both_containers {
  display: flex;
  margin-top: -1rem;
}
.application-summary_left_container,
.application-summary_right_container {
  width: 35%;
  display: flex;
  flex-direction: column;
  font-weight: 350;
  color: black;
  height: 20rem;
  justify-content: space-evenly;
  color: $color-dark-accent-first;
  padding: 1rem 0rem;
  .application-summary_subheader {
    font-weight: 350;
  }
  .application-summary_small_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;

    .application-summary_label {
      margin-right: 1rem;
      font-weight: 400;
    }
    .application-summary_span {
      color: $color-dark-accent-first;
      width: 15rem;
      padding: 0.5rem;
      background: transparent;
      border: 1px solid;
      text-align: center;
      font-family: $font-alt;
      font-weight: 300;
    }
  }
}
//Appreciation
.application-appreciation_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45rem;
  height: 25rem;
  .application-appreciation_container_small {
    width: 25rem;
    text-align: center;
    .application-appreciation_header {
      color: $color-dark-main;
      font-weight: 300;
    }
    .application-appreciation_decoration {
      width: 12rem;
    }
  }
}

.application-button_container {
  display: flex;
  gap: 1rem;
  .application-button {
    padding: 0.6rem 1.5rem;
    background: transparent;
    border: 1px solid $color-dark-main;
    &:hover {
      border: 1px solid $color-dark-main;
      transform: scale(0.9);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.chosen {
  background: $color-bright-accent;
  transform: scale(0.8);
  position: relative;
  z-index: 15;
}
