@import "../../../SCSS/main.scss";

.donate-hero_background {
  height: 70vh;
  width: 100vw;
  @include lg {
    height: 32rem;
  }
}

.donate-hero_container {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include lg {
    height: 32rem;
    flex-direction: row;
    align-items: normal; //added
  }
}

.donate-image_container {
  height: 100%;
  position: absolute;
  z-index: -20;
  @include lg {
    width: 40rem;
    height: 30rem;
    position: relative;
  }

  .donate-hero_image {
    height: 60vh;
    width: 100%;
    opacity: 0.2;

    @include lg {
      width: 50rem;
      height: 40rem;
      margin-top: -8rem;
    }
    @include xl {
      opacity: 1;
    }
  }
}

.donate-text_container {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  @include lg {
    width: 50rem;
    height: 32rem;
    padding: 0rem;
    padding-bottom: 6rem;
    text-align: end;
  }
  .donate-text_paragraph:first-child {
    font-size: 2.5rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  .donate-text_paragraph {
    width: 80%;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    @include lg {
      text-align: center;
      width: 100%;
    }
  }

  .donate-text_decoration {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    @include lg {
      width: 30rem;
    }
    .donate-decoration_image {
      width: 15rem;
    }
  }
  .donate-text_paragraph_bottom {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }
}
.donate-hero_diamond_container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  @include md {
    height: 4rem;
    width: 19rem;
    flex-wrap: nowrap;
  }

  .donate-diamond {
    width: 6.8rem;
    height: 6.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px $color-dark-main solid;
    background: transparent;
    transform: translate(0, 0) rotate(45deg);

    .donate-number_diamond {
      width: 10rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 300;
      color: $color-dark-main;
      margin-top: -2rem;
      margin-left: -4rem;
      margin-bottom: -0.4rem;
      transform: rotate(-45deg);
    }
    .donate-text_diamond {
      width: 8rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: 300;
      text-align: center;
      color: $color-dark-main;
      transform: rotate(-45deg);
    }
  }
}
