@import "../../../SCSS/main.scss";
@import "./StepsDonate.scss";

//Multiform
.donateMultiform-container_top {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.7rem;
  padding: 3rem 3rem;
  color: black;
  background-color: $color-bright-accent;
  @include lg {
    padding: 3rem 5rem;
  }
  .donateMultiform-top_header {
    font-size: 1.5rem;
  }
  .donateMultiform-top_paragraph {
    font-weight: 350;
    font-size: 1rem;
  }
}

.donateMultiform-container_bottom {
  width: 100%;
  height: 100vh; //wszystkie
  position: relative;
  padding: 1rem 2rem;
  background-color: rgba(255, 245, 160, 0.1);
  // z-index: -10;
  @include sm {
    padding: 3rem 3rem;
  }
  @include md {
    height: 80vh;
  }
  @include lg {
    padding: 3rem 6rem;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../assets/BackgroundForm.jpg) center/cover;
    z-index: -1;
    opacity: 1;
    // z-index: -10;
    @include md {
      background: url(../../../assets/BackgroundForm.jpg) no-repeat center
        center/cover;
    }
  }
}
.extendedContainer {
  height: 150vh; //summary
  @include sm {
    height: 120vh; //summary
  }
  @include md {
    height: 80vh;
  }
}
.donateMultiform-steps {
  text-align: start;
  color: black;
  font-weight: 300;
}
.donateMultiform-point_invisible_container {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
}

// Overall
.chosen {
  background: $color-bright-accent;
  transform: scale(0.8);
  position: relative;
  z-index: 100;
}

.summary-span_bold {
  font-family: $font-alt;
  font-weight: 450;
}

.block {
  display: block;
}
