@import "../../../SCSS/main.scss";

//Step 1
.stepDonate-text_container {
  width: auto;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: black;

  @include lg {
    width: 35rem;
  }
  .stepDonate-text_header {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
.stepDonate-point_container {
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 300;
  margin-top: 1.5rem;
  @include lg {
    width: 40rem;
  }

  .stepDonate-point_text {
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 1rem;
    font-weight: 350;
    @include lg {
      width: 25rem;
    }

    .stepDonate-point_button {
      height: 1.5rem;
      width: 1.5rem;
      border: 1px solid black;
    }
  }

  //Step 2
  .stepDonate-point_text_left {
    margin-right: 0.1rem;
    @include md {
      margin-right: 1rem;
    }
  }
  .stepDonate-number_bags {
    width: 3rem;
    display: flex;
    background: transparent;
    font-size: 1rem;
    font-weight: 350;
    padding: 0.1rem;
    margin: 0rem 0.5rem;
    border: none;
    border-bottom: 1px solid $color-dark-accent-first;

    &:focus {
      outline: none;
      border-bottom: 1px solid $color-bright-accent;
    }
    @include md {
      margin-left: 0rem;
    }
  }
}
.column {
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

//Step 3
.stepDonate-location_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .stepDonate-location_select {
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    background-color: transparent;

    @include sm {
      width: 15rem;
    }

    :focus {
      outline: transparent;
      border: transparent;
      border-radius: 0px;
    }

    .stepDonate-location_option {
      padding: 0.6rem 1.5rem;
    }
  }
  .stepDonate-location_subheader {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    color: $color-dark-accent-first;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .stepDonate-help_container {
    flex-wrap: wrap;
    width: 100%;
    @include md {
      width: 25rem;
    }
    .stepDonate-help_button {
      cursor: pointer;
      font-weight: 300;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      margin: 0.3rem;
      border: 1px solid;
      &:hover {
        border: 1px solid $color-bright-accent;
        background-color: $color-bright-accent;
      }
      &:focus {
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out;
        border: 1px solid $color-bright-accent;
        background-color: $color-bright-accent;
      }
    }
  }
  .stepDonate-organization_input {
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    background-color: transparent;
    border: 1px solid;

    :focus {
      outline: none;
      border: none;
    }

    @include sm {
      width: 28rem;
    }
  }
}

//Step 4
.stepDonate-delivery_header {
  font-size: 1.2rem;
  font-weight: 400;
  color: $color-dark-accent-first;
  margin-top: 0.5rem;
  @include md {
    margin-top: 1.5rem;
  }
}
.stepDonate-delivery_both_containers {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include md {
    width: auto;
    flex-direction: row;
    gap: 7rem;
  }
  @include lg {
    gap: 3rem;
  }
  @include xl {
    gap: 3rem;
  }

  .stepDonate-delivery_left_container,
  .stepDonate-delivery_right_container {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-weight: 350;
    color: $color-dark-accent-first;
    padding: 0.5rem 0rem;
    @include sm {
      padding: 1rem 0rem;
    }
    @include md {
      width: 30%;
    }
    .stepDonate-delivery_subheader {
      width: 100%;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
      text-align: left;
      @include md {
        width: 20rem;
      }
    }
    .stepDonate-delivery_small_container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include md {
        width: 15rem;
        flex-direction: row;
        justify-content: space-between;
      }

      .stepDonate-delivery_label {
        line-height: 1.5rem;
        margin-right: 1rem;
      }
      .stepDonate-delivery_input {
        width: 100%;
        font-family: $font-alt;
        color: $color-dark-accent-first;
        padding: 0.5rem 0.5rem;
        background: transparent;
        border: 1px solid;
        &:focus {
          outline: none;
          background-color: $color-bright-main;
        }
        @include md {
          width: 10rem;
        }
      }
    }
    .stepDonate-delivery_textarea {
      min-width: 100%;
      height: 5rem;
      font-family: $font-alt;
      margin-top: 1rem;
      padding: 0.5rem 0.5rem;
      background-color: transparent;
      &:focus {
        outline: none;
        background-color: $color-bright-main;
      }
      @include md {
        width: 18rem;
      }
    }
  }
}

.error-message {
  font-size: 1rem;
  text-align: center;
  color: #a60101;
}

//Summary
.stepDonate-summary_container {
  .stepDonate-summary_header {
    font-weight: 400;
    font-size: 1.2rem;
    color: $color-dark-accent-first;
    margin-top: 1.5rem;
  }
}
.stepDonate-summary_iconSpan_container {
  .stepDonate-summary_iconSpan_whatsgiven_container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .stepDonate-summary_icon {
      height: 3rem;
      margin-right: 1rem;
    }
    .stepDonate-summary_span {
      font-family: $font-alt;
      font-weight: 300;
      line-height: 1.5rem;
      color: black;
    }
  }
}
.stepDonate-summary_both_containers {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  margin-bottom: auto;
  @include md {
    flex-direction: row;
  }
}
.stepDonate-summary_left_container,
.stepDonate-summary_right_container {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 350;
  padding: 1rem 0rem;
  color: $color-dark-accent-first;
  @include md {
    width: 35%;
  }
  .stepDonate-summary_subheader {
    font-weight: 400;
    font-size: 1.2;
  }
  .stepDonate-summary_small_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-alt;
    @include sm {
      width: 20rem;
    }

    .stepDonate-summary_label {
      font-weight: 300;
      margin-right: 1rem;
    }

    .stepDonate-summary_span {
      width: 60%;
      font-family: $font-base;
      font-weight: 600;
      text-align: center;
      color: $color-dark-accent-first;
      padding: 0.5rem;
      background: transparent;
      border: 1px solid;
      @include md {
        width: 15rem;
      }
    }
  }
}

//Appreciation
.stepDonate-appreciation_container {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include lg {
    width: 45rem;
  }
  .stepDonate-appreciation_container_small {
    width: 100%;
    text-align: center;
    @include lg {
      width: 25rem;
    }
    .stepDonate-appreciation_header {
      font-weight: 300;
      line-height: 2rem;
      color: $color-dark-main;
    }
    .stepDonate-appreciation_decoration {
      width: 15rem;
      @include lg {
        width: 12rem;
      }
    }
  }
}

.stepDonate-button_container {
  display: flex;
  gap: 1rem;
  margin-top: 5rem; //wszystkie

  @include sm {
    margin-top: 3rem;
  }
  @include md {
    margin-top: 0rem;
  }
  .stepDonate-button {
    font-size: 1rem;
    font-family: $font-alt;
    font-weight: 300;
    padding: 0.6rem 1.5rem;
    background: transparent;
    border: 1px solid $color-dark-main;
    :hover {
      border: 1px solid $color-dark-main;
      transform: scale(0.9);
      transition: transform 0.3s ease-in-out;
    }
  }
}
.longMargin {
  margin-top: 25rem; //summary

  @include sm {
    margin-top: 3rem;
  }
  @include md {
    margin-top: 0rem;
  }
}

.donateMultiform-redirection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: $color-dark-main;
  padding: 3rem 3rem;
  background-color: $color-bright-accent;
  color: $color-dark-accent-first;
  @include lg {
    padding: 0;
  }
  .redirection-paragraph {
    font-size: 1.5rem;
    text-align: center;
    font-family: $font-alt;
    font-weight: 300;
    line-height: 2rem;
  }
  .button {
    @include button {
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: $color-dark-main;
      outline: 0.5px solid $color-dark-accent-first;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        color: $color-dark-accent-first;
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
