@import "../../../SCSS/main.scss";

//Step 1
.multiform-steps_container {
  border: 1px solid transparent;
  height: 100vh;
  .step-container_general {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    color: black;

    @include md {
      width: 50%;
      height: 30rem;
    }

    .general-header {
      font-size: 1.2rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-family: $font-alt;
    }
  }
}
.personalDetails-data,
.collectionDetails-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
  font-weight: 300;
  font-family: $font-alt;
  @include md {
    flex-direction: row;
    width: 30rem;
  }

  .personalDetails-label,
  .collectionDetails-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-weight: 350;
    color: $color-dark-accent-first;
    font-family: $font-alt;
    margin-bottom: 1rem;
    @include lg {
      width: 30rem;
      margin-bottom: 0rem;
    }
  }
  .personalDetails-input,
  .collectionDetails-input {
    font-family: $font-alt;
    padding: 0.5rem;
    width: 100%;
    @include lg {
      width: 40rem;
    }
  }
}
.chooseHelp-container {
  flex-wrap: wrap;
  width: 100%;
  @include md {
    width: 25rem;
  }
  .chooseHelp-header {
    font-family: $font-alt;
    font-size: 1.2rem;
    color: $color-dark-accent-first;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
  .chooseHelp-button {
    background: $color-bright-main;
    font-weight: 300;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    border: 1px solid;
    font-size: 1rem;
    font-weight: 300;
    outline: 0.5 solid;
    cursor: pointer;
    &:hover {
      border: 1px solid $color-bright-accent;
      background-color: $color-bright-accent;
    }
    &:focus {
      transform: scale(0.9);
      transition: transform 0.3s ease-in-out;
      border: 1px solid $color-bright-accent;
      background-color: $color-bright-accent;
    }
  }
  .chosen {
    background: $color-bright-accent;
    transform: scale(0.8);
    position: relative;
    z-index: 15;
  }
}

//Step 2
.multiform-text_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  color: black;
  @include lg {
    width: 35rem;
    height: 30rem;
  }
  .multiform-text_header {
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
.collectionDetails-data {
  .collectionDetails-textarea {
    margin-top: 1rem;
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    font-family: $font-alt;
    &:focus {
      outline: none;
    }
    @include lg {
      width: 40rem;
    }
  }
}

//Summary
.summary-main_container {
  font-family: $font-alt;
  .summary_header {
    font-size: 1.2rem;
    color: $color-dark-accent-first;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 1.5rem;
    line-height: 3rem;
    text-align: center;
    @include lg {
      text-align: start;
      font-size: 1.2rem;
    }
  }
}
.summary-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  margin-top: 2rem;

  .personalData-header {
    color: $color-dark-accent-first;
    font-weight: 350;
    font-size: 1.2rem;
    text-decoration: underline;
    line-height: 2rem;
  }
  .personalData_icon {
    height: 3rem;
    margin-right: 1rem;
  }
}

.personalData-dataBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include md {
    width: 20em;
  }

  .personalData-p {
    color: $color-dark-accent-first;
    font-family: $font-alt;
    font-weight: 300;
    font-size: 1rem;
  }
  .data-span {
    color: $color-dark-accent-first;
    font-weight: 500;
    margin-left: 1rem;
  }
}

.summary-collectionData {
  display: flex;
  margin-top: -1rem;
  color: $color-dark-accent-first;
}
.summary-side {
  width: 35%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-weight: 350;
  color: black;
  height: 20rem;
  color: $color-dark-accent-first;
  padding: 1rem 0rem;
  .side-header {
    color: $color-dark-accent-first;
    font-family: $font-base;
    font-size: 1.5rem;
    font-weight: 350;
  }

  .multiform-summary_span {
    color: $color-dark-accent-first;
    width: 15rem;
    padding: 0.5rem;
    background: transparent;
    border: 1px solid;
    text-align: center;
    font-family: $font-base;
    font-weight: 600;
  }
}
.bold {
  font-weight: 600;
}

//Appreciation
.multiform-appreciation_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45rem;
  height: 25rem;
  .multiform-appreciation_container_small {
    width: 25rem;
    text-align: center;
    .multiform-appreciation_header {
      color: $color-dark-main;
      font-weight: 300;
    }
    .multiform-appreciation_decoration {
      width: 12rem;
    }
  }
}

//buttons
.multiform-button_container {
  display: flex;
  gap: 1rem;
  .multiform-button {
    padding: 0.6rem 1.5rem;
    background: transparent;
    border: 1px solid $color-dark-main;
    font-size: 1rem;
    &:hover {
      border: 1px solid $color-dark-main;
      transform: scale(0.9);
      transition: transform 0.3s ease-in-out;
    }
  }
}
