@import "../../../SCSS/variables.scss";
@import "../../../SCSS/mixins.scss";

.hero-background {
  height: 30rem;
}
.hero-container {
  display: flex;
  flex-direction: column;
  height: 10rem;

  @include lg {
    height: 30rem;
    flex-direction: row;
  }
}
.image-container {
  height: 3rem;
  width: auto;
  display: block;
  opacity: 25%;

  @include lg {
    height: 30rem;
    width: 40rem;
    opacity: 100%;
    z-index: -10;
  }
  @include xl {
  }

  .hero-image {
    width: 100vw;
    z-index: -10;

    @include sm {
      width: 40rem;
    }

    @include lg {
      height: 40rem;
      width: auto;
      margin-left: -20rem;
      margin-top: -7rem;
    }

    @include xl {
      width: 60rem;
    }
  }
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 10;
  padding: 1rem;
  @include md {
  }

  @include lg {
    width: auto;
    height: 33rem;
    text-align: end;
    padding-right: 2.5rem;
    padding: 0rem;
  }

  @include xl {
    width: 50rem;
  }

  .text-paragraph {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2rem;
    @include lg {
      text-align: none;
      font-size: 1.5rem;
    }
  }
  .main {
    font-size: 2.5rem;
    line-height: 1.5;
    @include sm {
      font-size: 3.5rem;
    }
  }
  .text-decoration {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
.hero-button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  height: auto;
  @include md {
  }
  @include lg {
    height: 4rem;
    width: 25rem;
    flex-direction: row;
  }
  // @include xl {
  // }
  .button {
    @include button {
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
