@import "../../../SCSS/main.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.three-background {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 3rem;
  @include xl {
    height: 25rem;
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
    z-index: -1;
    background: url(../../../assets/ThreeBackground.png) no-repeat center
      center/cover;
    @include lg {
      opacity: 100%;
    }
  }
}

.three-columns-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-alt;

  @include lg {
    height: auto;
    flex-direction: row;
    justify-content: space-around;
  }
  @include xl {
    height: 25rem;
  }
  .three-single_column {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    @include lg {
      width: 32%;
      height: 25rem;
    }
    @include xl {
      width: 23%;
      height: 25rem;
    }
    .three-text-number {
      font-size: 4rem;
      font-weight: 300;
    }
    .three-text-header {
      font-size: 1.75rem;
      font-weight: 300;
      text-align: center;
      margin: 1.5rem;
    }
    .three-text-paragraph {
      font-size: 1rem;
      text-align: center;
      line-height: 2;
      @include md {
        width: 40rem;
      }
      @include lg {
        width: auto;
      }
    }
  }
}
