@import "../../../SCSS/main.scss";

.who-background {
  width: 100%;
  height: 100%;
  @include md {
    height: auto;
  }
}
.who-container {
  width: 100%;
  height: 100%;
  @include md {
    height: auto;
  }
}
.who-text-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .who-header {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .who-decoration_image {
    width: 15rem;
    margin-bottom: 1.5rem;
  }
  .who-text_paragraph {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    width: 80%;
    text-align: center;

    @include md {
      width: 40rem;
      flex-direction: row;
      font-size: 1rem;
    }
  }
}
.who-button_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  @include lg {
  }

  .who-button {
    @include button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1rem;
      text-transform: none;
      height: 5rem;
      border: none;
      border: 1px solid $color-dark-main;

      &:hover {
        border: 1px solid $color-dark-accent-first;
        transform: scale(0.8);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
// Different foundations, organizations and collections

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  height: auto;
  width: 100%;
  @include lg {
  }
}

.item-boxes {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;
  .item-box {
    display: block;
    height: 70%;

    @include lg {
      height: 100%;
    }
  }
  @include lg {
    height: auto;
  }
}

.item-text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;

  @include lg {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .text-main {
    width: 75%;
  }

  .text-main_header {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.25rem;

    @include lg {
      text-align: start;
    }
  }
  .text-main_paragraph {
    font-size: 0.75rem;
    font-weight: 350;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    line-height: 1rem;
    @include lg {
      text-align: start;
    }
  }
  .item-span {
    font-size: 0.7rem;
    font-weight: 300;
  }
}
.line {
  border: 0.01rem solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: $color-dark-main;
  display: flex;
  justify-content: center;
  width: 100%;
  @include xl {
  }
}

.button_nr_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  z-index: 100;
  .button_number {
    padding: 0.5rem;
    background: transparent;
    border: 1px transparent solid;
    font-weight: 300;
    &:hover {
      border: 1px solid $color-dark-main;
      transform: scale(0.9);
      transition: transform 0.3s ease-in-out;
    }
    &:focus {
      border: 1px solid $color-dark-main;
      transform: scale(0.9);
      transition: transform 0.3s;
    }
  }
}
