@import "../../../SCSS/main.scss";

//Styles for SignIn,SignUp, SignOut screens
.auth-container {
  width: 100vw; //zmienione ze 100%
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header-text {
    font-size: 2rem;
    font-weight: 350;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 3rem;
  }
  .header-decoration {
    width: 15rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}
.auth-form {
  width: 60%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  background: #f0f1f1 0% 0% no-repeat padding-box;
  @include lg {
    width: 30rem;
  }
}

.prolonged {
  height: 25rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  .form-input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    @include lg {
      flex-direction: row;
    }

    .data-label {
      font-size: 1rem;
      text-align: left;
      font-weight: 300;
      line-height: 1.5rem;
    }
    .data-input {
      width: 100%;
      font-family: $font-alt;
      font-size: 1rem;
      font-weight: 350;
      padding: 0.6rem;
      border: none;
      border-bottom: 1px solid;
      background: transparent;
      background-color: transparent;

      &:focus,
      &:active {
        outline: none;
        background: transparent;
        background-color: transparent;
        box-shadow: none;
      }
      @include sm {
        width: 75%;
      }
    }
  }
}
.auth-error_message_container {
  height: 5rem;
  text-align: center;
  line-height: 1.5rem;
  .error_message {
    color: #a60101;
    font-size: 0.8rem;
    font-weight: 350;
  }
}
.auth-button_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .auth-button {
    font-size: 1rem;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background: transparent;
    border: 1px lightgray solid;
    &:hover {
      border: 1px solid $color-dark-accent-first;
    }
  }
}
