@import "../../SCSS/main.scss";

.footer_container {
  height: 5rem;
  width: 100%;
  background: #f0f1f1 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icons_container {
  width: 20rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .footer-icon {
    font-size: 2rem;
    color: $color-dark-main;
    &:hover {
      color: $color-bright-accent;
    }
  }
}
.footer-copyrights {
  font-weight: 300;
  font-size: 0.7rem;
}
