@import "../../SCSS/main.scss";
@import "./DesktopNav.scss";
@import "./MobileNav.scss";

.navigation-background {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: transparent;
  z-index: 20;
}
.navigation-container {
  width: 100%;
}
