@import "../../SCSS/main.scss";

.navigation-background {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: transparent;
  z-index: 20;
}
.navigation-container {
  width: 100%;
}

//DesktopNav
.desktopNav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // background-color: $color-bright-main;
  // border-bottom: 0.5px solid $color-dark-main;
  width: 100%;
  height: 100%;
}

.btn-container {
  display: none;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 3rem;

  @include lg {
    display: flex;
  }

  .welcome-sign {
    width: auto;
    font-weight: 300;
    font-size: 1rem;
    font-family: $font-alt;
    font-weight: 400;
    color: $color-dark-main;
  }
  .welcome-sign_s {
    font-weight: 300;
  }

  .auth-btn {
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    border: 1px transparent solid;
    color: $color-dark-main;

    &:hover {
      border-color: yellow;
    }
  }
}

.homepage-links_container {
  display: none;
  justify-content: flex-end;
  width: auto;
  height: 3rem;

  @include lg {
    display: flex;
  }

  .homepage-link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: 1.1rem;
    margin: 0.5rem;
    padding: 1rem;
    background: none;
    border: none;
    border: 1px transparent solid;
    font-weight: 350;
    cursor: pointer;
    &:hover {
      border: 1px grey solid;
    }
  }
}

// MobileNav
.mobileNav-container {
  width: auto;
  position: absolute;
  z-index: 100;
  @include lg {
    display: none;
  }
}

.mobileNav-hamburger,
.mobileNav-exit {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  z-index: 100;
  .hamburger-icon {
    font-size: 2rem;
    color: $color-dark-main;
  }
}
.mobileNav-exit {
  padding: 0rem;
}
.mobileNav {
  position: relative;
  left: 0%;
  height: 100%;
  width: 18rem;
  background-color: $color-bright-main;
  padding: 1rem 2rem;
  opacity: 1;
  transition: left 0.5s;
}

.hidden {
  left: -100%;
}
.none {
  display: none;
}

.btn-container_mobile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  text-transform: uppercase;

  .mobile-userEmail {
    text-transform: lowercase;
  }

  .autho-btn_mobile {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: white;
    border: none;
    cursor: pointer;
    border: 1px transparent solid;
    &:hover {
      border-color: orange;
    }
  }
}

.homepage-links_container_mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  @include lg {
    display: none;
  }

  .homepage-link_mobile {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: $color-dark-accent-first;
    align-items: center;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    background: none;
    border: none;
    border: 1px transparent solid;
    cursor: pointer;
    &:hover {
      border: 1px black solid;
    }
  }
}
