@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap");

$font-base: "Open-Sans";
$font-alt: "Merriweather Sans";
$font-links: "4rem";
$color-bright-main: #f0f1f1;
$color-bright-accent: #fad648;
$font-dark-main: #737373;
$font-dark-accent-first: #3c3c3c;
$font-dark-accent-second: #5e5322;
